<h2>PENDATAAN</h2>
<form method="post" action="proses_input.php">
    <table>
        <tr>
            <td>Nama Lengkap</td>
            <td><input type="text" name="nama_lengkap" size="35" maxlength="6" /></td>
        </tr>
        <tr> 
            <td>Usernama</td>
            <td><input type="text" name="username" size="50" maxlength="30" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" size="50" maxlength="30" /></td>
        </tr>
            <td>Alamat</td>
            <td><input type="text" name="alamat"></td>
        </tr>
        <tr>
            <td>Jenis Kelamin</td>
            <td>
                <input type="radio" name="jeniskelamin" value="laki-laki">Laki-laki
                <input type="radio" name="jeniskelamin" value="perempuan">Perempuan
            </td>
        </tr>
    </tr>
    <td>Hobi</td>
    <td><input type="text" name="hobi"></td>
        <tr>
            <td>Pekerjaan</td>
            <td><select name="pekerjaan">
                    <option value="-">- Pilih Pekerjaan -
                    <option value="PNS">PNS
                    <option value="Pengusaha">Pengusaha
                    <option value="Belum bekerja">Belum bekerja
                </select></td>
        </tr>
            
        <tr>
            <td></td>
            <td><input type="submit" value="kirim"></td>
        </tr>
    </table>
</form>